<div class="field field__select">

	<div class="field__container">
		<button onclick="fieldSelect.toggle(this)" type="button" class="field__select validation" name="{{name}}">
			<span class="field__value field__value--placeholder">{{placeholder}}</span>
			<span class="field__icon"></span>
		</button>

		<ul active class="field__option-list">
			{{#each list}}
			<li onclick="fieldSelect.change(this);

			// прив'язка
			// звертаємось до acion, ..//- тому що знаходимось
			//всередині each і треба піднятися вгору
			// так само зверт до name
			// та передаємо значення з auth.js

			{{../action}}('{{../name}}',{{value}});

			// в консолі можем побачити що приходить role 
			// та ідентифікатор ролі


			
			" class="field__option">{{text}}</li>
			{{/each}}
		</ul>
	</div>

</div>